Repository GNOME/tracker-oci-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: alpine edge, fedora latest, fedora rawhide, ubuntu:rolling

.gitlab-ci.yml:

image: 'registry.fedoraproject.org/fedora:30'

stages:
  - distro

# Buildah can't use 'overlay' driver when running inside docker
variables:
  STORAGE_DRIVER: 'vfs'

# Expects $IMAGE which should be the name+tag of the registry image.
# Expects $DOCKERFILE variable which should be the path to the dockerfile
# Expects $CONTEXT_DIR variable which should be the name of the parrent folder of the dockerfile
.base:
  tags: [ ]
  script:
    - dnf install -y buildah podman
    - buildah login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

    # Newer versions of podman/buildah try to set overlayfs mount options when
    # using the vfs driver, and this causes errors.
    - sed -i '/^mountopt =.*/d' /etc/containers/storage.conf

    - podman build --cgroup-manager=cgroupfs --format=docker --pull -f ${DOCKERFILE} -t ${IMAGE} ${CONTEXT_DIR}

    # Show image size.
    - podman image list

    - |
      if [ "$CI_COMMIT_REF_NAME" = "master" ]; then
          podman push --creds $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD ${IMAGE}
      else
          echo "Not pushing image, as we are on non-master branch $CI_COMMIT_REF_NAME"
      fi

# Expects $ARCH variable which should be the architexcture of the image ex. x86_64
# Expects $DISTRO_NAME variable which should be the name of the distro image ex. ubuntu
# Expects $DISTRO_VER variable which should be the version distro image ex. 18.04
# Expects $DOCKERFILE variable which should be the path to the dockerfile
.distro build:
  stage: distro
  before_script:
    - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  extends: '.base'

alpine edge:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "alpine"
    DISTRO_VER: "edge"
    DOCKERFILE: "alpine/edge"
    CONTEXT_DIR: "alpine"
  only:
    changes:
      - 'alpine/*'

fedora latest:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "fedora"
    DISTRO_VER: "latest"
    DOCKERFILE: "fedora/latest"
    CONTEXT_DIR: "fedora"
  only:
    changes:
      - 'fedora/*'

fedora rawhide:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "fedora"
    DISTRO_VER: "rawhide"
    DOCKERFILE: "fedora/rawhide"
    CONTEXT_DIR: "fedora"
  only:
    changes:
      - 'fedora/*'

ubuntu:rolling:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "ubuntu"
    DISTRO_VER: "rolling"
    DOCKERFILE: "debian/ubuntu-rolling"
    CONTEXT_DIR: "debian"
  only:
    changes:
      - 'debian/*'

Update Gitlab CI script to run unprivileged
  .gitlab-ci.yml
Due: none

Set default user in the images to `tracker`
  alpine/edge.Dockerfile
  debian/ubuntu-rolling.Dockerfile
  fedora/rawhide.Dockerfile
Due: alpine edge, fedora latest, fedora rawhide, ubuntu:rolling

Update images to avoid use of external files
  .gitlab-ci.yml
  alpine/cleanup.sh
  alpine/edge
  alpine/edge.Dockerfile
  alpine/prepare.sh
  debian/cleanup.sh
  debian/prepare.sh
  debian/ubuntu-rolling
  debian/ubuntu-rolling.Dockerfile
  fedora/cleanup.sh
  fedora/latest
  fedora/latest.Dockerfile
  fedora/prepare.sh
  fedora/rawhide
  fedora/rawhide.Dockerfile
Due: alpine edge, fedora latest, fedora rawhide, ubuntu:rolling

rawhide: Remove libeatmydata
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

ubuntu: Fix mistake introduced in the last merge
  debian/ubuntu-rolling.Dockerfile
Due: ubuntu:rolling

fedora: Add gcovr and Clang
  fedora/latest.Dockerfile
Due: fedora latest, fedora rawhide

Add website dependencies to base image
  fedora/latest.Dockerfile
Due: fedora latest, fedora rawhide

Specify correct job dependencies
  .gitlab-ci.yml
Due: none

fedora: Set shell when creating users
  fedora/latest.Dockerfile
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

rawhide: Pre-create /builds folder
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

Add tap.py
  alpine/edge.Dockerfile
  debian/ubuntu-rolling.Dockerfile
  fedora/latest.Dockerfile
Due: alpine edge, fedora latest, fedora rawhide, ubuntu:rolling

Add tap.py to Fedora Rawhide (i forgot)
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

fedora/rawhide: Use builddeps of tracker3, not tracker
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

fedora/rawhide: Provide libeatmydata as in other images
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

rawhide: Install gstreamer1-plugins-good
  fedora/rawhide.Dockerfile
Due: fedora latest, fedora rawhide

Add libmediaart dependencies
  alpine/edge.Dockerfile
  debian/ubuntu-rolling.Dockerfile
  fedora/latest.Dockerfile
  fedora/rawhide.Dockerfile
Due: alpine edge, fedora latest, fedora rawhide, ubuntu:rolling
